<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newzen.nzscrap.mapper.ProxyMapper">
    <select id="selectProxyAddrList" resultType="ProxyAddr">
        SELECT Addr, RegDt
          FROM Proxy_Addr
    </select>
</mapper>